* {
    margin: 0;
    padding: 0;
}

body {
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a2a47;
    color: white;
    height: 60px;
}
ul a{
    padding-right: 3rem;
    margin-left: .25rem;
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.logo {
    margin-left: 1rem;
    font-size: 20px;
}

.block1 {
    height: 15rem;
    background-color: #0a2a47;
}

.block1left {

}

.block1right {

}

.titletext {

}


