body {
    background-color: #2d2d34;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d34;
    color: white;
    height: 60px;
}
ul a{
    padding-right: 3rem;
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#logo {
    margin-left: 1rem;
    font-size: 20px;
}